body{
  background-color:#999999;
}
#wrapper {
    margin: 24px auto;
    width: 1200px;
    border: 1px solid black;
    padding: 24px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
  }
  h1{
    grid-column:span 12;
    padding:12px;
    background-color:red;
    color:white;
  }
  nav{
    grid-column:span 3;
  }
  nav ul{
    padding:0;
    margin:0;
  }
  nav li{
    background-color:red;
    color:white;
    margin-bottom:24px;
  }
  nav li a{
    font-weight:bold;
    padding:24px;
    text-decoration: none;
    color:white;
    font-size:24px;
    display:block;
  }
  nav li a:hover{
    background-color: maroon;
  }
 main{
  grid-column:span 6;
  font-size: 18px;
 }
 main img{
  width:50%;
  float:left;
 }
 #contactinfo{
  grid-column:span 3;
  padding:5px;
  background-color: cyan;
  color:black;
  font-size:24px;
  font-weight:bold;
 }
 footer{
  grid-column:span 12;
  background-color:red;
  color:white;
  padding:24px;
  font-size:24px;
  font-weight:bold;
}